body {
    background-color:#cc9966
}
.banner {
     color: #ffcc00;
     text-align: center;
}
.headerTitle {
    font-family:  'Trebuchet MS', Verdana, Geneva, Arial, sans-serif;
    font-style: italic;
}

.container {
    margin-left: 0;
    padding-right: 0;
}

#display-results {
    background-color: #ffbf80;
}

.short-form {
    width: 20%;
}

.btn-sm {
    width: 10%;
    margin-left: 1px;
    padding: 0;

}

button {
    margin: 10px;
    width: 100%;
    height: 50px;
    background-color: #993300;
    color: #ffcc00;
}
.btn-toolbar-vertical {
    text-align: center;
    margin: 5px;
}

.rightButtons {
    float: right;
}

td {
    text-align: left;
}th {
    text-align: center;
}

table, th, td {
    border: 1px solid #000000;
}


